<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HTML & CSS Training</title>
  <meta name="description" content="training">
  <meta name="author" content="Wolox">
  <link rel="stylesheet" type="text/css" href="../application.css">
</head>

<body>
  <div class='cardsContainer'>
    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>

    <div class='bookCard'>
      <img src='../resources/img/book-cover.png' />
      <h3 class='titleBook'> Título del libro </h3>
      <h3 class='authorBook'> Autor del libro</h3>
    </div>
  </div>
</body>

</html>
