<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HTML & CSS Training</title>
  <meta name="description" content="training">
  <meta name="author" content="Wolox">
  <link rel="stylesheet" type="text/css" href="../application.css">
</head>

<body>

  <div class='pageContainer'>
    <div class='backButtonContainer'>
      <a href='http://127.0.0.1:5500/Maquetado/views/bookList.html' class='backButton'> Atrás </a>
      <a href='http://127.0.0.1:5500/Maquetado/views/bookList.html'>
        <img src='../resources/img/back-arrow.png'class='backArrowImage' /> 
      </a>
    </div>
    <div class='bookContainer'>
      <img src='../resources/img/book-cover.png' class='bookImage' />
      <div class='textContainer'>
        <h1 class='mainTitle'>
          Título del libro
          <strong class='bookGenre'> (género)</strong>
        </h1>
        <h2 class='title'>
          Autor del libro:
          <strong class='bookDetail'>Nombre del autor del libro</strong>
        </h2>
        <h2 class='title'>
          Editorial:
          <strong class='bookDetail'>Nombre de la editorial</strong>
        </h2>
        <h2 class='title'>
          Año de publicación:
          <strong class='bookDetail'>Año de publicación</strong>
        </h2>
      </div>
    </div>
  </div>
</body>

</html>
