<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="description" content="training">
  <meta name="author" content="Wolox">
  <link rel="stylesheet" type="text/css" href="../application.css">
</head>

<body>
  <div class='pageContainer'>
    <div class='loginContainer'>
      <img src='../resources/img/LogoWolox.png' class='woloxLoginLogo' alt='Wolox Logo Image' />
      <form class='inputsContainer'>
        <h2 class='dataTitle'>Email</h2>
        <input class='dataInput' type='text'>
        <h2 class='dataTitle'>Password</h2>
        <input class='dataInput' type='email'>
        <button type='submit' class='loginButton'>
          <a href='http://127.0.0.1:5500/Maquetado/views/bookList.html' class='loginTitle'> Login </a>  
        </button>
        <div class='line'></div>
        <div class='signUpButton'>
          <p class='signUpTitle'>Sign up</p>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
