@import 'colors';

@mixin fontStyle {
  color: $black;
  display: block;
  font-family: Roboto;
  font-weight: 700;
}

body {

  .bookDetailBackground {
    align-items: center;
    background-color: $seashell;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 28%;


    .backButtonContainer {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 80%;

      .backButton {
        font-size: large;
      }

      .backArrowImage {
        margin-right: 10px;
      }
    }

    .bookContainer {
      display: flex;
      background-color: $white;
      box-shadow: 4px 4px 9px -4px rgba($black, 1);
      width: 65%;

      .bookImage {
        height: 385px;
        padding: 20px;
        position: relative;
        width: 250px;
      }

      &::after {
        content: '';
        background: url('./resources/img/badge.png');
        background-size: cover;
        height: 80px;
        left: 30%;
        margin-top: 6px;
        position: absolute;
        transform: rotate(20deg);
        width: 55px;
      }

      .textContainer {
        padding: 20px;
        width: 80%;
      }

      .mainTitle {
        @include fontStyle();
        border-bottom: 4px solid $conifer;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 35px;
      }

      .title {
        @include fontStyle();
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 24px;
      }

      .bookGenre {
        color: $mediumGray;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
      }

      .bookDetail {
        color: $mediumGray;
        font-family: Roboto;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
