@import 'colors';
@import 'mixins';

.bookDetailBackground {
  align-items: center;
  background-color: $seashell;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
  padding-bottom: 28%;


  .backButtonContainer {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    right: 38%;

    .backButton {
      font-size: 18px;
    }

    .backArrowImage {
      margin-right: 10px;
    }
  }

  .bookContainer {
    display: flex;
    background-color: $white;
    box-shadow: 4px 4px 9px -4px rgba($black, 1);
    margin-top: 20px;
    padding: 30px;
    width: 65%;

    .bookImage {
      height: 385px;
      position: relative;
      width: 250px;
      margin-right: 30px;
    }

    &::after {
      content: '';
      background: url('./resources/img/badge.png');
      background-size: cover;
      height: 80px;
      left: 33.5%;
      position: absolute;
      transform: rotate(20deg);
      width: 55px;
    }

    .mainTitle {
      @include bookDetailfontStyle();
      border-bottom: 4px solid $conifer;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 32px;
      padding-bottom: 10px;
    }

    .title {
      @include bookDetailfontStyle();
      font-size: 20px;
      margin-bottom: 30px;
      line-height: 24px;
    }

    .bookGenre {
      color: $mediumGray;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
    }

    .bookDetail {
      color: $mediumGray;
      font-family: Roboto;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .bookDetailBackground {
    flex-direction: column-reverse;

    .backButtonContainer {
      margin-top: 5px;
      justify-content: center;
      position: unset;
    }

    .bookContainer {
      align-items: center;
      flex-direction: column;
      padding: unset;
      width: 40%;

      .bookImage {
        margin-bottom: 20px;
        margin-top: 25px;
        margin-right: unset;
        height: 350px;
        width: 250px;
      }

      &::after {
        margin-top: 15px;
        left: 59%
      }
    }
  }
}
