@import 'colors';
@mixin fontStyle {
  color: $black;
  font-family: Roboto;
  font-weight: 700;
  display: block;
}
.mainTitle {
  @include fontStyle();
  line-height: 38px;
  font-size: 32px;
  margin-bottom: 50px
}
.title {
  @include fontStyle();
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.bookGenre {
  color: $mediumGray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.bookDetail{
  color: $mediumGray;
  font-family: Roboto;
  font-size: 20px; 
  line-height: 24px;
}
.bookImage {
  width: 250px;
  height: 360px;
  margin-right: 2.5%;
  margin-left: 2%;
}
.bookContainer{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
