@import 'colors';
@mixin fontStyle {
  color: $black;
  font-family: Roboto;
  font-weight: 700;
  display: block;
}
.mainTitle {
  @include fontStyle();
  line-height: 38px;
  font-size: 32px;
  margin-bottom: 35px;
  border-bottom: 4px solid $conifer;
}
.title {
  @include fontStyle();
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.bookGenre {
  color: $mediumGray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.bookDetail{
  color: $mediumGray;
  font-family: Roboto;
  font-size: 20px; 
  line-height: 24px;
}
.bookImage {
  position: relative;
  width: 250px;
  height: 385px;
  padding: 20px;
  &::after{
    position: absolute;
    content: url('https://www.freeiconspng.com/thumbs/badge-icon-png/badge-icon-png-22.png');
    width: 55px;
    height: 85px;
    transform: rotate(20deg);
    margin-top: 8px;
  }
}
.textContainer{
  width: 80%;
  padding: 20px
}
.bookContainer{
  display: flex;
  margin: 30px;
  width: 65%;
  box-shadow: 4px 4px 9px -4px rgba($black,1);
}
