@import 'scss/variables/colors';
@import 'scss/mixins.scss';

      .inputsContainer {
        display: flex;
        flex-direction: column;
        height: 77%;
        margin-top: 25px;
        width: 85%;

        .dataTitle {
          font-size: 20px;
          margin-bottom: 10px;
          color: $black
        }

        .dataInput {
          @include buttonsStyle;
          margin-bottom: 20px;
          font-size: 20px;
          padding-left: 20px; 
          color: $black
        }

        .loginButton {
          @include flexBox();
          @include buttonsStyle;
          background-color: $conifer;
          margin-top: 10px;
        }

        .signUpButton {
          @include buttonsStyle;
          @include flexBox();
          border-color: $conifer;
          border-style: solid;
          border-width: 4px;
          margin-top: 10px;
        }

        .loginTitle {
          color: $white;
          font-size: 20px;
        }

        .signUpTitle {
          color: $conifer;
          font-size: 20px;
        }
      }

